body {
  font-family: 'Courier New', Courier, monospace !important;
  background-image: url(img/crypto-mining-7088575_1280.jpg);
  background-size: cover; /* La imagen de fondo cubrirá todo el elemento */
  color: #292a31;
  margin: 0;
  padding: 0;
  transition: background 0.3s ease; /* Agregamos una transición al fondo */
}

/* body:hover { */
  /* background: linear-gradient(to right, #0d4625, #0b0f0c); Cambio de color al pasar el mouse */
/* } */


.contenedor {
    border: solid #4CAF50; /* Verde */
    margin: 1%;
    padding: 1%;
    border-radius: 20px; /* Ajustado para un aspecto más sutil */
    width: 48%; /* Ajustado para dar espacio entre contenedores */
    box-sizing: border-box;
    float: left;
    
}

.contenedor1 {
    border: solid #4CAF50; /* Verde */
    margin: 1% 1% 9%;
    padding: 1%;
    border-radius: 20px; /* Ajustado para un aspecto más sutil */
    width: 48%; /* Ajustado para dar espacio entre contenedores */
    box-sizing: border-box;
    float: right;
}

.planTradingLabel,
.notaPersonal {
    background-color: #4CAF50; /* Verde */
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    max-width: 80%; /* Ajustado para más espacio */
    margin: 0 auto;
    text-align: center;
}

.btnNotaPersonal,
.btnPlanTrading {
    background-color: #4CAF50; /* Verde */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s, transform 0.2s;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btnPlanTrading:hover,
.btnNotaPersonal:hover {
    background-color: #45a049; /* Verde más oscuro */
    transform: translateY(-2px);
}


/* -------------------------------------------------------tabla-------------------------------------------------------------------- */
.tablaDeDatos {
  width: 80%;
  /* margin: 20px auto; Ajuste para centrar la tabla en la página */
  border-collapse: separate;
  border-spacing: 0;
  background-color: rgba(0, 128, 255, 0.1); /* Azul */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #007BFF; /* Azul */
  color: #f2eded; /* Negro */
  /* margin-top: 20px; */
}

table, th, td {
  border: 1px solid #007BFF; /* Azul */
  padding: 10px;
  text-align: center;
}

th {
  background-color: rgba(40, 167, 69, 0.3); /* Verde */
  color: white;
}

th:hover {
  background-color: #218838; /* Verde más oscuro al pasar el mouse */
}


button.btn-primary {
  background-color: black; /* Reemplaza "tu-color-preferido" con el color que desees */
  color: #fff; /* Cambia el color del texto si es necesario */
  margin-top: 25%;
  margin-left: -670px;
}

.contenedorDivTabla{
  margin-bottom: 5%;
}

.btnGuardar,
.btn_agregas_nueva_entrada {
  background-color:rgba(40, 167, 69, 0.3); ; /* Verde */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  right: 100px;
  margin: 15px;
}

.btnGuardar::after {
  content: "\2713";
  margin-left: 0px;
}

.btnGuardar:hover,
.btn_agregas_nueva_entrada:hover {
  background-color: #45a049; /* Verde más oscuro al pasar el mouse */
  transform: translateY(-2px);
}

/* -------------------------------------------------------tabla-------------------------------------------------------------------- */


.filaClickeada {
  background-color: rgba(236, 240, 241, 0.5);
}

/* -------------------------------------------------------botones crud tabla-------------------------------------------------------------------- */

.btn_modificar::before {
  content: "\270E";
  color: blue;
  font-size: 20px;
}

.btn_modificar:hover {
  background-color: #d3dae5;
  transform: translateY(-2px);
  cursor: pointer;
}


.btnEliminar {
  background-color: #f84242;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  right: 100px;
  margin: 10px;
  margin-left: 17px;
}

.btnEliminar:hover {
  background-color: #7a1b1b;
  transform: translateY(-2px);
}

.btnEliminar::before {
  content: "\2716";
  margin-right: 0px;
  font-size: 14px;
}

/* -------------------------------------------------------botones crud tabla-------------------------------------------------------------------- */


.btn_moneda_cryto,
.btn_compra_o_venta {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn_moneda_cryto:hover,
.btn_compra_o_venta:hover {
  background-color: #45a049;
}

.error_ingresar_dato {
  border: solid red;
  background-color: rgba(255, 0, 0, 0.5);
}

.li_datos {
  border: solid wheat;
  color: wheat;
}


/* -------------------------------------------------------boton logout-------------------------------------------------------------------- */
.btnLogout {
  background-color: #090909;
  color: #fff;
  padding: 10px 20px;
  border: solid 1px blue;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btnLogout:hover {
  background-color:#0e56c1;
}
/* -------------------------------------------------------boton logout-------------------------------------------------------------------- */



/* -------------------------------------------------------encabezado titulo-------------------------------------------------------------------- */

#div_menu_encabezado {
  font-family: 'Courier New', Courier, monospace;

  display: flex;
  align-items: center;
  padding: 10px;
  background: linear-gradient(to right, rgba(52, 152, 219, 0.4), rgba(8, 2, 73, 0.4));
  color: rgba(0, 0, 0, 0.0);
  border-top-left-radius: 10px;
  border-top-right-radius: 100px;
}

.tituloInversiones {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #3498db;
  background-color: #101617;
  padding: 20px;
  padding-right: 80px;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  margin: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 100px;
}

.tituloInversiones:hover {
  background-color:rgba(52, 152, 219, 0.1);
  color: #fff;
  /* animation: bounce 0.5s ease; Agregamos una animación al pasar el mouse */
}
/* -------------------------------------------------------encabezado titulo-------------------------------------------------------------------- */



/* -------------------------------------------------------menu titulo-------------------------------------------------------------------- */

#nav-tab a {
  /* margin-top: 40px; */
  margin-left: 5px;
  color: black ;
  text-decoration: none;
}

#nav-home-tab a{
  color: black;
}

#div_menu_encabezado #nav-tab .nav-link {
  color: #000; /* Cambia este valor al color deseado para los botones no activos */
  font-family:'Courier New', Courier, monospace;
  font-weight: bolder;
  
}

#div_menu_encabezado .nav {
  display: flex;
  flex-wrap: nowrap; /* Evita que los elementos se envuelvan a la siguiente línea */
  justify-content: flex-start;
  margin-top: 40px; /* Puedes ajustar el valor según sea necesario */
}


/* -------------------------------------------------------menu titulo-------------------------------------------------------------------- */


/* -------------------------------------------------------tarjeta objetivo-------------------------------------------------------------------- */


.contenedor {
    max-width: 800px;
    margin: 20px auto;
    background-color: rgba(233, 244, 211, 0.1);
    padding: 20px;
    border-radius: 10px;
}

.contenedor:hover{
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}
/* .nav_item{
  background-color: #007BFF;
  border-radius: 50px;
} */
.objetivosLabel{
  background-color: rgba(76, 175, 80, 0.5); 
  color: #000000;
  padding: 5px 10px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px; 
  max-width: 80%; 
  font-weight: bolder;
  margin: 10px auto;
  text-align: center;
}

.parrafo_objetivo{
  color: rgb(0, 0, 0);
  font-weight: bolder;
  margin-bottom: 1px;
}

.btnObjetivos {
  background-color: rgba(76, 175, 80, 0.5); 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s, transform 0.2s;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnObjetivos:hover {
    background-color: #0a2410;
    transform: translateY(-2px);

}

.boton_guardar_objetivos{
  background-color: rgba(76, 175, 80, 0.5); 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, transform 0.2s;

  
}

.boton_guardar_objetivos::before {
  content: '\2713'; /* Código Unicode para la marca de verificación (check mark) */
  font-size: 15px; /* Ajusta el tamaño según tus preferencias */
  font-weight: bold;
  margin-right: 5px; /* Espacio entre el ícono y el texto */

}
.boton_guardar_objetivos:hover{
  background-color: #0a2410;
  transform: translateY(-2px);
}

.input_agregar_objetivos{
  background-color: rgba(230, 222, 222, 0.1);
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}

.dropdown-menu{
 background-color: rgba(0, 0, 0, 0.7) !important;
}

.objetivo_id_desactivado{
  display: none;
}
.objetivo_id_activado{
  display: block;
}

.menu_mas_opciones{
  font-weight: bolder;
  color: black;
}



.resaltar-elemento {
  border: 2px solid #3498db;
  background-color:rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s ease;
}

.btnCancelar {
  background-color: rgba(76, 175, 80, 0.5); 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s, transform 0.2s;
  margin: 10px auto;
  align-items: center;
  justify-content: center;
}

.btnCancelar {
  background-color: #f84242;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  right: 100px;
  margin: 10px;
  margin-left: 17px;
}

.btnCancelar:hover {
  background-color: #7a1b1b;
  transform: translateY(-2px);
}

.btnCancelar::before {
  content: "\2716";
  margin-right: 0px;
  font-size: 14px;
}



.boton_guadar_update {
  background-color:rgba(40, 167, 69, 0.3); ; /* Verde */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  right: 100px;
  margin: 5px;
  margin-left: 70px;
}

.boton_guadar_update::after {
  content: "\2713";
  margin-left: 0px;
}

.boton_guadar_update:hover {
  background-color: #45a049; /* Verde más oscuro al pasar el mouse */
  transform: translateY(-2px);
}

.boton_ok {
  /* Estilos para el botón */
  background-color: #45a049; /* Verde más oscuro al pasar el mouse */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative; /* Añadir posición relativa para el icono */
  margin-left: 45%;
  height: 40px;
  width: 50px;
}

.boton_ok::before {
  /* Estilos para el icono */
  content: "\2714"; /* Código Unicode para el icono de palomita */
  position: absolute; /* Posicionar el icono de manera absoluta */
  top: 50%; /* Centrar verticalmente */
  left: 50%; /* Centrar horizontalmente */
  transform: translate(-50%, -50%); /* Centrar completamente */
  font-size: 24px; /* Tamaño del icono */
}

.boton_ok:hover {
  /* Estilos para cuando se pasa el cursor sobre el botón */
  background-color: darkgreen;
}


/* -------------------------------------------------------tarjeta objetivo-------------------------------------------------------------------- */
